* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 512px;
    padding: 1rem;
}
p {
    margin: 1rem;
}
#jumbotron {
    margin: 6rem 0rem; 
    text-align: center;
}
#lama-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.link-button {
    margin-top: 2rem;
    border: 1px solid;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    display: inline-block;
    text-decoration: none;
}
#lama-cooking {
    width: 200px;
    display: block;
    position: relative;
    left: 50%;
    translate: -50% 0;
}
.section-title {
    text-align: center;
    margin-bottom: 2rem;
}
#lists {
    margin:1rem;
}
.list {
    margin-bottom: 1rem;
    list-style-type: none;
}
.list-element {
    margin: 1rem auto;
    border: 2px solid whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 1rem ;
    font-weight: bold;
}
.bi-claude {
    background-color: orange
}
i {
    margin: 0.5rem;
}
#menu-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 50px;
}